@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}
.left::-webkit-scrollbar,
.items-mini::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.left::-webkit-scrollbar-thumb,
.items-mini::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#wrapper-cart1 {
  padding: 20px;
}
.mobile-mini {
  max-height: 410px;
  overflow: hidden;
  overflow-y: scroll;
}
.mobile-cart1 {
  margin-top: 1rem;
}
.img-mini1 {
  float: left;
  height: 100px;
  width: 100px;
  position: relative;
}
.img-mini1 > a > img {
  height: 87.5px !important;
  width: 70.5px;
  display: block;
}
.info-mini1 {
  display: block;
}
.info-mini1 > .title-mini1 {
  font-family: "Pathway Gothic One", sans-serif;
  margin: 0;
  margin-left: 0%;
  text-align: left;
  display: block;
  font-size: 24px;
  letter-spacing: 1px;
}
.col-size-mini1 {
  margin-bottom: 3px;
  text-align: left;
}
.info-right-mini1 {
  padding: 0 10px;
}
.info-price-right1 > h6,
.info-price-right1 > h6 > span {
  font-size: 16px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  font-family: "Pathway Gothic One", sans-serif;
}

.order-quantity.item-count {
  font-size: 0.8571428571em;
  font-weight: 500;
  line-height: 1.75em;
  white-space: nowrap;
  text-align: center;
  border-radius: 50px;
  background-color: rgba(114, 114, 114, 0.9);
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1.75em;
  height: 1.75em;
  padding: 0 0.5833333333em;
  position: absolute;
  right: 1em;
  top: -0.5em;
  z-index: 3;
}
.subtotal .subtotal {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 1px;
}
.subtotal .subtotal-price {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}
.total-price-order .total-price {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}
.total-section {
  padding: 40px;
}

.address-header > h4 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.payment-header > h4 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.payment-section {
  min-width: 400px;
  width: 400px;
}

.checkout-form {
  margin: 0 auto;
}
.payment-button {
  font-family: "Pathway Gothic One", sans-serif;
  background-color: #43458b;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.2em 1.5em;
  border-radius: 5px;
  border: 2px solid #43458b;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 340px;
}
.payment-button:hover {
  cursor: pointer !important;
}
.payment-button:disabled {
  border: 2px solid #4b4d91;
  background-color: #4b4d91;
  color: #fff;
}
@media only screen and (min-width: 770px) {
  .check-form {
    padding-left: 6rem;
    padding-top: 1rem;
    padding-bottom: 6rem;
  }
  .payment-header > h4 {
    padding-left: 10rem;
  }
  .payment-button {
    width: 320px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .check-form {
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  .payment-header > h4 {
    padding-left: 10rem;
  }
  .payment-button {
    width: 320px;
  }
}
@media only screen and (max-width: 599px) {
  .check-form {
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
  .payment-header > h4 {
    padding-left: 8rem;
  }
  .payment-button {
    width: 320px;
  }
}
@media only screen and (max-width: 450px) {
  .check-form {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .payment-header > h4 {
    padding-left: 5rem;
  }
  .payment-button {
    width: 320px;
  }
}
@media only screen and (min-width: 355px) and (max-width: 402px) {
  .payment-button {
    width: 280px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 354px) {
  .payment-button {
    width: 242px;
  }
}
